In [1]:
import pandas as pd
df = pd.read_csv('/content/covid19.csv')
df.head(5)

   Unnamed: 0 Country,Other  TotalCases NewCases TotalDeaths
0           0           USA  29,383,324  +12,619    529,515
1           1         India  11,156,250  +16,927    157,471
2           2        Brazil  10,647,845      NaN    257,562
3           3        Russia   4,278,750  +10,535     87,348
4           4            UK   4,188,400      NaN    123,296

In [2]:
df = pd.read_csv("/content/covid19.csv", na_values={
'price':["?","n.a"],
'stroke':["?","n.a"],
'horsepower':["?","n.a"],
'peak-rpm':["?","n.a"],
'average-mileage':["?","n.a"]})
print (df)

df.to_csv("/content/covid19.csv")

     Unnamed: 0 Country,Other  TotalCases   NewCases TotalDeaths
0             0           USA  29,383,324    +12,619    529,515
1             1         India  11,156,250    +16,927    157,471
2             2        Brazil  10,647,845        NaN    257,562
3             3        Russia   4,278,750    +10,535     87,348
4             4            UK   4,188,400        NaN    123,296
..          ...           ...         ...        ...         ...
224         224    34,442,286    +119,818    822,446      +2,724
225         225     3,949,024      +5,653    104,626         +64
226         226        51,331         +16      1,091         NaN
227         227           721         NaN         15         NaN
228         228   115,522,246    +227,686  2,564,708      +5,036

[229 rows x 5 columns]

In [3]:
import pandas as pd
df = pd.read_csv("/content/covid19.csv")
df['TotalCases'].value_counts()

1             2
9             2
18            2
29,383,324    1
6,058         1
             ..
113,593       1
108,823       1
106,801       1
104,548       1
+227,686      1
Name: TotalCases, Length: 225, dtype: int64

In [4]:
import pandas as pd
df = pd.read_csv("/content/covid19.csv")
m = df.groupby('TotalCases')
f = m.get_group('10,647,845')
f

   Unnamed: 0  Unnamed: 0.1 Country,Other  TotalCases NewCases TotalDeaths
2           2             2        Brazil  10,647,845      NaN    257,562

In [5]:
import pandas as pd
df = pd.read_csv("/content/covid19.csv")
df['TotalCases'].value_counts()

1             2
9             2
18            2
29,383,324    1
6,058         1
             ..
113,593       1
108,823       1
106,801       1
104,548       1
+227,686      1
Name: TotalCases, Length: 225, dtype: int64

In [6]:
import pandas as pd
df = pd.read_csv("/content/covid19.csv")
m = df.groupby('TotalCases')
x = m['NewCases','TotalDeaths'].max()
x

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  after removing the cwd from sys.path.

             NewCases TotalDeaths
TotalCases
+119,818      822,446      +2,724
+16             1,091         NaN
+227,686    2,564,708      +5,036
+23,073       765,344      +1,378
+5,653        104,626         +64
...               ...         ...
88,022           +919     1,654
89,933            +10      4,636
9                 NaN          2
90,816           +444      1,612
958                +3          9

[225 rows x 2 columns]